a{
    text-decoration: none;
 }
 #btn-voltar{
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    height: 30px;
    width: 100px;
    padding: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #007bff;
    color: white;
 }
 #btn-voltar:hover{
    background-color: #008bff;
 }