body{
   margin: 0;
   font: 1em sans-serif;
   height: 100%;
   font: 1em sans-serif;
   width:100%;
   
}


.div-links{
   padding: 10px;
   height: 50px;
}
a{
   text-decoration: none
}

#vergraficos{
   border: 1px solid #ddd;
   border-radius: 4px;
   outline: none;
   height: 30px;
   width: 100px;
   padding: 10px;
   display:flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   background-color: #007bff;
   color: white;

}

#vergraficos:hover{
   background-color: #008bff;
}

.div-map .buscar-localizacao{
 padding-bottom: 10px;    
}

#map {
    height: 1084px;
     width: 1370px;
   }
.div-map{
   display: flex;
   flex-direction: column;
   width: auto;
   height: 80%;
   justify-content: center;
   align-items: center;
   background-color: #e9e9e9;
}
.container{
   width: 100%;
   height: 100%;
   display: flex;
   
}
/* .content{
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: end:
} */
.btn-submit2{
   display: none;
}
.flex {
   display: flex;
}
.none{
  display: none; 
}


